# Overview 
This notebook uses the final results and the results from Wes Gohn's publication to compare kaon to pion BSAs.

In [1]:
import matplotlib.pyplot as plt 
import numpy as np 
import pandas as pd 

%matplotlib inline

In [2]:
plt.rc('text', usetex=True)
plt.rc('font', family='serif')
plt.rc('font', size=18)

In [3]:
kaon_df = pd.read_csv('../results/fit/sys.csv')
pion_df = pd.read_csv('../results/wes/pip.csv')

In [4]:
kaon_df.head()

,axis,axis_bin,axis_max,axis_min,bootstraps_0,bootstraps_1,bootstraps_2,err_0,err_1,err_2,...,sys_10_par2,sys_11_par0,sys_11_par1,sys_11_par2,sys_5_par0,sys_5_par1,sys_5_par2,sys_13_par0,sys_13_par1,sys_13_par2
0,missing_mass,0,1.723112,1.650000,[0.02881446 0.02859381 0.02437527 0.02785406 0...,[ 1.49478301e-01 5.89266159e-02 1.01252295e-...,[-8.18940923e-02 1.32150307e-01 2.34424636e-...,0.005593,0.369155,0.488191,...,0.316102,0.000149,0.084061,0.107950,0.000024,0.017506,0.028138,0.004350,0.027124,0.070417
1,missing_mass,1,1.799525,1.723112,[0.02471514 0.02995212 0.0195345 0.02376327 0...,[-0.08931853 0.02546486 0.7420884 -0.072617...,[ 1.11629352e-01 -1.26750499e-01 -1.00000000e+...,0.005113,0.430616,0.433593,...,0.034302,0.001927,0.088878,0.145122,0.001491,0.135698,0.081968,0.000476,0.042170,0.218915
2,missing_mass,2,1.878045,1.799525,[0.03009538 0.02323212 0.02822651 0.03475312 0...,[-0.02827972 -0.6252531 -0.18631013 -0.242612...,[-0.361818 -0.9538913 -0.12748204 -0.597914...,0.007581,0.465778,0.543217,...,0.029303,0.001525,0.083286,0.002691,0.000263,0.025082,0.082369,0.000346,0.034835,0.053084
3,missing_mass,3,1.969478,1.878045,[ 2.13152226e-02 1.44548472e-02 1.65029429e-...,[-0.32367682 -0.78950065 -0.5710194 0.797849...,[-0.47286347 -0.6568056 -0.9401116 -1. ...,0.004329,0.494101,0.523771,...,0.032916,0.001070,0.017399,0.016500,0.000872,0.134229,0.023469,0.000415,0.083581,0.054521
4,missing_mass,4,2.085932,1.969478,[0.00836064 0.01237676 0.0147579 0.0196172 0...,[ 8.34170580e-01 8.37988555e-01 -5.67737579e-...,[-1. -1. -0.9221786 -0.993653...,0.005065,0.412947,0.717697,...,0.132247,0.000558,0.013121,0.010138,0.000463,0.117117,0.016293,0.001195,0.036647,0.025046

In [5]:
pion_df.head()

  axis  axis_bin  axis_value   value    stat     sys
0    z         0        0.05  0.0059  0.0004  0.0004
1    z         1        0.15  0.0071  0.0009  0.0002
2    z         2        0.25  0.0070  0.0010  0.0010
3    z         3        0.35  0.0110  0.0010  0.0010
4    z         4        0.45  0.0150  0.0010  0.0010

In [6]:
print(kaon_df.columns)

Index([u'axis', u'axis_bin', u'axis_max', u'axis_min', u'bootstraps_0',
       u'bootstraps_1', u'bootstraps_2', u'err_0', u'err_1', u'err_2',
       u'par_0', u'par_1', u'par_2', u'sys_total_0', u'sys_total_1',
       u'sys_total_2', u'sys_1_par0', u'sys_1_par1', u'sys_1_par2',
       u'sys_2_par0', u'sys_2_par1', u'sys_2_par2', u'sys_3_par0',
       u'sys_3_par1', u'sys_3_par2', u'sys_4_par0', u'sys_4_par1',
       u'sys_4_par2', u'sys_12_par0', u'sys_12_par1', u'sys_12_par2',
       u'sys_6_par0', u'sys_6_par1', u'sys_6_par2', u'sys_7_par0',
       u'sys_7_par1', u'sys_7_par2', u'sys_8_par0', u'sys_8_par1',
       u'sys_8_par2', u'sys_9_par0', u'sys_9_par1', u'sys_9_par2',
       u'sys_10_par0', u'sys_10_par1', u'sys_10_par2', u'sys_11_par0',
       u'sys_11_par1', u'sys_11_par2', u'sys_5_par0', u'sys_5_par1',
       u'sys_5_par2', u'sys_13_par0', u'sys_13_par1', u'sys_13_par2'],
      dtype='object')

In [7]:
print(pion_df.columns)

Index([u'axis', u'axis_bin', u'axis_value', u'value', u'stat', u'sys'], dtype='object')

Since the kaon dataframe doesn't have the `axis_value` column, i'll quickly add it for plotting.

In [8]:
kaon_df['axis_value'] = kaon_df.axis_min + 0.5 * (kaon_df.axis_max-kaon_df.axis_min)

Some of the names in the `kaon_df` are confusing.  I will rename the important columns and drop the rest.

In [9]:
kaon_df.rename(columns={'par_0':'value', 
                        'err_0':'stat', 
                        'sys_total_0':'sys'
                       }, inplace=True)

keep_cols = pion_df.columns
drop_cols = [col for col in kaon_df.columns if col not in keep_cols]
kaon_df.drop(columns=drop_cols, inplace=True)

In [10]:
kaon_df.head()

           axis  axis_bin      stat     value       sys  axis_value
0  missing_mass         0  0.005593  0.024915  0.010933    1.686556
1  missing_mass         1  0.005113  0.024738  0.005877    1.761318
2  missing_mass         2  0.007581  0.024717  0.003953    1.838785
3  missing_mass         3  0.004329  0.016708  0.003362    1.923762
4  missing_mass         4  0.005065  0.012206  0.004821    2.027705

In [11]:
pion_axes = pion_df.axis.unique()
kaon_axes = kaon_df.axis.unique()

In [12]:
for axis in pion_axes:
    assert(axis in kaon_axes)
    
for axis in kaon_axes:
    assert(axis in pion_axes)

AssertionError:

The datasets have the same axes.

In [ ]:
axes = pion_axes

In [ ]:
add_quad = lambda x1, x2: np.sqrt(x1**2 + x2**2)

def plot_compare(pion_df, kaon_df, axis_name, ax):
    
    xlims = {
        'x' :[0.0, 0.7],
        'q2':[0.5, 5.0],
        'z' :[0.0, 1.1],
        'pt':[0.0, 1.0]
    }
    
    tex_labels = {
        'x': '$x$',
        'q2':'$Q^2 \; [GeV^2/c^2]$',
        'z': '$z_h$',
        'pt':'$P_T \; [GeV/c]$'
    }
    
    ax.errorbar(pion_df[pion_df.axis == axis_name].axis_value, 
                    pion_df[pion_df.axis == axis_name].value,
                    add_quad(pion_df[pion_df.axis == axis_name].stat, pion_df[pion_df.axis == axis_name].sys),
                   linestyle='', marker='o', label='E1-F $\pi^+$ (Gohn 2014)',
               color='black')
    ax.errorbar(kaon_df[kaon_df.axis == axis_name].axis_value, 
                    kaon_df[kaon_df.axis == axis_name].value,
                    add_quad(kaon_df[kaon_df.axis == axis_name].stat, kaon_df[kaon_df.axis == axis_name].sys), 
                   linestyle='', marker='v', label='E1-F $K^+$',
               color='red')
    ax.set_ylim([-0.01, 0.08])
    ax.set_xlim(xlims[axis_name])
    ax.set_xlabel(tex_labels[axis_name])
    ax.legend(frameon=False)
    
def plot_pions(pion_df, axis_name, ax):
    
    xlims = {
        'x' :[0.0, 0.7],
        'q2':[0.5, 5.0],
        'z' :[0.0, 1.1],
        'pt':[0.0, 1.0]
    }
    
    tex_labels = {
        'x': '$x$',
        'q2':'$Q^2 \; [GeV^2/c^2]$',
        'z': '$z_h$',
        'pt':'$P_T \; [GeV/c]$'
    }
    
    ax.errorbar(pion_df[pion_df.axis == axis_name].axis_value, 
                    pion_df[pion_df.axis == axis_name].value,
                    add_quad(pion_df[pion_df.axis == axis_name].stat, pion_df[pion_df.axis == axis_name].sys),
                   linestyle='', marker='o', label='E1-F $\pi^+$ (Gohn 2014)',
               color='black')
    ax.axhline(0.0, color='black', linestyle='--', linewidth=1)
    ax.set_ylim([-0.01, 0.08])
    ax.set_xlim(xlims[axis_name])
    ax.set_xlabel(tex_labels[axis_name])
    ax.legend(frameon=False)

In [ ]:
fig, axs = plt.subplots(1, 2, figsize=(12,4), sharey=True)
fig.subplots_adjust(wspace=0)
plot_compare(pion_df, kaon_df, 'x', axs[0])
plot_compare(pion_df, kaon_df, 'q2', axs[1])

fig.savefig('../image/compare-pion-xq2.pdf', bbox_inches='tight')

In [ ]:
fig, axs = plt.subplots(1, 2, figsize=(12,4), sharey=True)
fig.subplots_adjust(wspace=0)
plot_compare(pion_df, kaon_df, 'z', axs[0])
plot_compare(pion_df, kaon_df, 'pt', axs[1])

fig.savefig('../image/compare-pion-zpt.pdf', bbox_inches='tight')

In [ ]:
fig, axs = plt.subplots(1, 4, figsize=(18,6), sharey=True)
fig.subplots_adjust(wspace=0)

plot_pions(pion_df, 'x', axs[0])
plot_pions(pion_df, 'q2', axs[1])
plot_pions(pion_df, 'z', axs[2])
plot_pions(pion_df, 'pt', axs[3])

axs[0].set_ylabel('$A_{LU}^{\sin\phi}$')

fig.savefig('../image/compare-pion-zpt.pdf', bbox_inches='tight')